*{
    margin:0 ;
    padding: 0;
}

header{
    background-color: bisque;
    height: 80px;
    text-align: center;
    color: black;
    font-size: 20px;
}

nav ul{
    display: flex;
    justify-content: center;
    margin: 10px;
}

nav ul li a{
    display: flex;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    color: lavenderblush;
    font-size: 20px;
}

main{
    background-color: darkkhaki;
    width: 100%;
}

.row{
    display: flex;
    height: 650px;
    padding: 20px;
    text-align: justify;
}

.col{
    margin: 10px;
    background-color: darkcyan;
    text-align: justify;
    padding: 10px;
}

h1,h2{
    text-align: center;
    padding: 20px;
}

footer{
    background-color: cadetblue;
    height: 100px;
}

footer p{
    text-align: center;
    margin: 20px;
    color: black;
    text-decoration: underline;
}

/* media query for 400px devices */

@media screen and (max-width:400px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;

    }
    header{
        width: 400px;
        background-color: rgb(2, 31, 41);
        color: rgb(181,233,241);
        padding: 0px;
    }
    nav{
        width: 400px;
        background-color: darksalmon;
        margin: 0px;
        padding: 0px;
    }

    .row{
        background-color: antiquewhite;
        width: 400px;
        height: 1200px;
        display: flex;
        flex-direction: column;
    }

    main{
        width: 400px;
    }

    .col-3{
        height: 600px;
        width: 350px;
        border: 3px solid blueviolet;
        margin-left: 23px;

    }




}

